* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#header {
    position: absolute;
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-top: none;
    background-color: #5555554d;
}


/* Панели управление конструктором */

#header-menu-panel {
    /* position: fixed; */
    width: 20%;
    height: 40px;
    float: right;
    border-left: 1px solid grey;
    border-top: none;
    background-color: #9b9b9bbd;
}

#main-control-unit {
    display: none;
}

#main-creation-menu,
#block-of-setting {
    width: 43%;
    min-width: 40%;
    font-size: 100%;
    padding: 11px;
    cursor: pointer;
    text-align: center;
}

#main-creation-menu:hover,
#block-of-setting:hover {
    background-color: #c7c7c786;
    color: white;
}

#main-creation-menu {
    float: left;
}

#block-of-setting {
    float: right;
}

#header-right-menu-panel {
    width: 20%;
    height: 820px;
    position: absolute;
    top: 103%;
    right: 0.02%;
    border: 1px solid grey;
    border-top: none;
    border-right: none;
    background-color: #64646450;
}

#header-control-panel-create-blok {
    width: 160px;
    height: 100px;
    margin: 10px;
    display: none;
    border: 1px solid grey;
    cursor: pointer;
}

#header-control-panel-create-blok:hover {
    box-shadow: 0px 0px 2px 0px #000000;
}

#header-control-panel-create-blok:hover #panel-create-blok {
    border: 4px solid #969696;
}

#header-control-panel-create-blok:hover #description {
    color: #ffffff;
}

#panel-create-blok {
    width: 120px;
    height: 60px;
    margin: 16px auto;
    border: 4px solid #bbbbbb;
}

#description {
    text-align: center;
    margin: 20px auto;
}

#item-size-menu {
    width: 200px;
    display: none;
    /* background-color: #a3a3a369; */
}

#header-right-menu-panel {
    overflow: auto;
}


/* Главный блок настроек */

#main-control-unit {
    /* background-color: #d9e263; */
}

#heading-main-menu-setting,
#heading-block-visual-setting {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #7272723b;
    padding: 10px;
    border-radius: 2px;
    margin: 2px 0 2px 0;
}

#heading-block-visual-setting:hover,
#heading-main-menu-setting:hover {
    color: white;
    background-color: #4b4b4b60;
}

#width-adjuster,
#height-adjuster,
#radius-adjuster,
#setting-margin-block,
#setting-padding-block,
#setting-float-block,
#setting-border-block,
#setting-opacity-block,
#setting-z_index,
#color-adjuster,
#standard-fonts-and-custom-font,
#text-setting-menu {
    background-color: #b3b3b3de;
    border: 1px solid #adadad;
    margin: 2px;
    border-radius: 5px;
}

#width-adjuster:hover,
#height-adjuster:hover,
#radius-adjuster:hover,
#setting-margin-block:hover,
#setting-padding-block:hover,
#setting-float-block:hover,
#setting-border-block:hover,
#setting-opacity-block:hover,
#setting-z_index:hover,
#color-adjuster:hover,
#standard-fonts-and-custom-font:hover,
#text-setting-menu:hover {
    background-color: #c7c7c7de;
}

button {
    padding: 7px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    background-color: #6b6b6b;
    color: white;
    border-radius: 5px;
}

button:active {
    background: linear-gradient(#4b4a4a);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
    background-color: #4b4a4a;
    border: 1px solid #ececec;
}

input {
    padding: 5px;
    border-radius: 4px;
    color: #ececec;
    outline: none;
    border: 1px solid #a8a8a8;
    background-color: #8181816b;
}

select {
    background-color: #949494;
    border-radius: 2px;
    outline: none;
    padding: 2px;
}

#configuration-header {
    text-align: center;
}

#first-switch,
#second-switch {
    cursor: pointer;
    font-size: 30px;
    width: 10px;
    height: 20px;
    position: relative;
}

#first-switch {
    left: 50px;
    bottom: 10px;
}

#first-switch:hover,
#second-switch:hover {
    color: #8d8d8d;
}

#second-switch {
    left: 90px;
    bottom: 30px;
}


/* Блок визуальных настроек */

#visual-adjustment-unit {
    display: none;
}


/* */


/*Место создания блоков*/

#menu-generator-and-its-elements {
    float: left;
    margin: 100px 0px 0px 20px;
}

#blok-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    background: #949494;
}


/* */


/* Редактор цвета */

#panel_menu_color {
    width: 170px;
    position: absolute;
    display: none;
    top: 120px;
    right: 10px;
    background-color: #83838388;
}

#menu-color div {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin: 2px;
    padding: 0px;
    border: 1px solid #000000;
}

#menu-color section {
    width: 20px;
    display: inline-block;
    margin: 2px;
    padding: 0px;
}

#calling-the-color-bar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #949494;
    border: 1px solid #ffffff;
}

#c-1 {
    background-color: #ffffff;
}

#c-2 {
    background-color: #e5e5e5;
}

#c-3 {
    background-color: #cccccc;
}

#c-4 {
    background-color: #b2b2b2;
}

#c-5 {
    background-color: #999999;
}

#c-6 {
    background-color: #7f7f7f;
}

#c-7 {
    background-color: #666666;
}

#c-8 {
    background-color: #4c4c4c;
}

#c-9 {
    background-color: #333333;
}

#c-10 {
    background-color: #191919;
}

#c-11 {
    background-color: #000000;
}

#c-12 {
    background-color: #7f0000;
}

#c-13 {
    background-color: #7f3f00;
}

#c-14 {
    background-color: #7f7f00;
}

#c-15 {
    background-color: #3f7f00;
}

#c-16 {
    background-color: #007f00;
}

#c-17 {
    background-color: #007f3f;
}

#c-18 {
    background-color: #007f7f;
}

#c-19 {
    background-color: #003f7f;
}

#c-20 {
    background-color: #00007f;
}

#c-21 {
    background-color: #3f007f;
}

#c-22 {
    background-color: #7f007f;
}

#c-23 {
    background-color: #7f003f;
}

#c-24 {
    background-color: #bf0000;
}

#c-25 {
    background-color: #bf5f00;
}

#c-26 {
    background-color: #bfbf00;
}

#c-27 {
    background-color: #5fbf00;
}

#c-28 {
    background-color: #00bf00;
}

#c-29 {
    background-color: #00bf5f;
}

#c-30 {
    background-color: #00bfbf;
}

#c-31 {
    background-color: #005fbf;
}

#c-32 {
    background-color: #0000bf;
}

#c-33 {
    background-color: #5f00bf;
}

#c-34 {
    background-color: #bf00bf;
}

#c-35 {
    background-color: #bf005f;
}

#c-36 {
    background-color: #ff0000;
}

#c-37 {
    background-color: #ff7f00;
}

#c-38 {
    background-color: #ffff00;
}

#c-39 {
    background-color: #7fff00;
}

#c-40 {
    background-color: #00ff00;
}

#c-41 {
    background-color: #00ff7f;
}

#c-42 {
    background-color: #00ffff;
}

#c-43 {
    background-color: #007fff;
}

#c-44 {
    background-color: #0000ff;
}

#c-45 {
    background-color: #7f00ff;
}

#c-46 {
    background-color: #ff00ff;
}

#c-47 {
    background-color: #ff007f;
}

#c-48 {
    background-color: #ff5656;
}

#c-49 {
    background-color: #ffaa56;
}

#c-50 {
    background-color: #ffff56;
}

#c-51 {
    background-color: #aaff56;
}

#c-52 {
    background-color: #56ff56;
}

#c-53 {
    background-color: #56ffaa;
}

#c-54 {
    background-color: #56ffff;
}

#c-55 {
    background-color: #56aaff;
}

#c-56 {
    background-color: #aa56ff;
}

#c-57 {
    background-color: #ff56ff;
}

#c-58 {
    background-color: #ff56aa;
}

#c-59 {
    background-color: #ffaaaa;
}

#c-60 {
    background-color: #ffd4aa;
}

#c-61 {
    background-color: #ffffaa;
}

#c-62 {
    background-color: #d4ffaa;
}

#c-63 {
    background-color: #aaffaa;
}

#c-64 {
    background-color: #aaffd4;
}

#c-65 {
    background-color: #aaffff;
}

#c-66 {
    background-color: #aad4ff;
}

#c-67 {
    background-color: #aaaaff;
}

#c-68 {
    background-color: #d4aaff;
}

#c-69 {
    background-color: #ffaaff;
}

#c-70 {
    background-color: #ffaad4;
}


/* Изменение полузнка */

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #d3e7f6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range] {
    -webkit-appearance: none;
    width: 130px;
    background: transparent;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #c7c7c7;
    height: 24px;
    width: 10px;
    border-radius: 3px;
    background: #9af3f3c4;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a2cbf0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}


/* */